<h1>Hello world! </h1>  
<%= "I LOVE" + " RUBY "%>
<%= 1 + 2 %>

<div> 1 + 2</div>

<% if 1 == 2 %>
<p>1 equal to 2!</p>
<% else %>
<p>Math is a lie...</p>
<% end %>

<% comments = ["Your pictures are so cute", "LOve the dog!!", "Miss you!"]%>
<ol>
  % commments.each do |comment| %>
  <li><%= comment %></li>
  <% end %>
</ol>